header {
  background-color: $darkBlueTestimonial;
  padding: 1rem;
  display: grid;

  grid-template-columns: 40% repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  align-items: center;

  @include breakpoint(small) {
    padding: 2rem;
    grid-template-columns: 60% repeat(3, 1fr);
  }

  @include breakpoint(medium) {
    padding: 4rem;
    padding-bottom: 0rem;
    grid-template-columns: 75% repeat(3, 1fr);
  }

  img {
    width: 50%;
    justify-self: start;
    @include breakpoint(small) {
      width: 40%;
    }

    @include breakpoint(small) {
      width: 145px;
    }
  }

  p {
    @include hovertext(topnav);
    font-size: 0.7rem;

    @include breakpoint(small) {
      font-size: 0.9rem;
    }
  }
}
