header{
background-color: $darkBlueTestimonial;
    padding: 1rem;
    display:grid;

    grid-template-columns: 40% repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;


    img{
        width: 50%;
        justify-self: start;
    }

    p{
        font-size: 0.7rem;
    }
}