section#started {
  position: relative;
  background-color: $darkBlueTestimonial;
  padding: 2rem;

  @include breakpoint(small) {
    padding: 2rem 4rem;
  }

  @include breakpoint(medium) {
    padding: 2rem 25%;
  }

  @include breakpoint(large) {
    padding: 2rem 30%;
  }

  img {
    position: relative;
    width: 100%;
    z-index: 10;
  }

  h1 {
    position: relative;
    margin-top: 2rem;
    line-height: 2rem;
    z-index: 9;

    @include breakpoint(medium) {
      font-size: 2rem;
      line-height: 3rem;
    }
  }

  p {
    position: relative;
    margin-top: 1rem;
    line-height: 1.5rem;
    z-index: 8;

    @include breakpoint(medium) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  button {
    @include button;
    @include btnHover;

    position: relative;
    margin-top: 2rem;
    z-index: 7;

    @include breakpoint(large) {
      width: 35%;
    }
  }

  &::before {
    content: "";
    background-image: url("../images/bg-curvy-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: bottom;
    position: absolute;
    right: 0;
    bottom: 34%;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: $darkBlueMain;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 34%;
  }

  @include setBgHill(420px, 23%);
  @include setBgHill(590px, 9%);
  @include setBgHill(750px, 0%);
  @include setBgHill(1300px, -9%);
}
