section#productive {
  background-color: $darkBlueMain;
  text-align: left;
  padding: 7rem 2rem 2rem 2rem;

  @include breakpoint(small) {
    padding: 7rem 4rem 2rem 4rem;
  }

  @include breakpoint(medium) {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "image text";
    justify-items: center;
    align-items: center;
    gap: 3rem;
  }

  img {
    width: 100%;

    @include breakpoint(medium) {
      grid-area: image;
    }
  }

  .wrapper {
    @include breakpoint(medium) {
      grid-area: text;
    }

    h2 {
      margin-top: 2rem;
    }

    p {
      margin-top: 1rem;
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

    .link {
      width: max-content;
      width: max-content;
      display: flex;
      justify-content: start;
      align-items: center;
      color: $cyan;
      border-bottom: 2px solid $cyan;

      &:hover {
        cursor: pointer;
        color: $white;
        border-color: $white;

        svg {
          #linkCircle{

            fill: $white;
          }
        }
      }

      p {
        padding-right: 5px;
      }

      svg {
        position: relative;
        top: 8px;
      }
    }
  }
}
