section#early {
  background-color: $darkBlueMain;
  padding: 0rem 2rem;

  @include breakpoint(small) {
    padding: 0 3rem;
  }

  @include breakpoint(medium) {
    padding: 0 20%;
  }

  .card {
    position: relative;
    top: 10rem;
    background-color: $darkBlueIntro;
    border-radius: 8px;
    padding: 2rem;

    @include breakpoint(medium) {
      padding: 2rem 4rem;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 0.8rem;
      line-height: 1.4rem;
    }

    .grid {
      position: relative;

      @include breakpoint(medium) {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 2rem;
      }

      input {
        width: 100%;
        padding-left: 2rem;
        border: none;
        height: 50px;
        border-radius: 25px;
        color: $white;
        font-size: 0.8rem;
        color: $darkBlueMain;
      }

      &.error {

        input{
          border: 2px solid red;
        }

        &::after {
          content: "Please enter a valid email address.";
          position: absolute;
          padding-left: 2rem;
          top: 52px;
          left: 0;
          font-family: "Open Sans", sans-serif;
          font-size: 0.7rem;
          font-weight: 700;
          text-align: left;
          color: $lightRed;
        }
      }

      button {
        @include button;
        @include btnHover;
        margin-top: 2rem;
        width: 100%;

        @include breakpoint(medium) {
          width: 100%;
          margin-top: 0;
          font-size: 0.8rem;
        }
      }
    }
  }
}
