footer {
  padding: 14rem 2rem 2rem 2rem;
  background-color: $darkBlueFooter;
  text-align: left;

  @include breakpoint(small) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  & > img {
    width: 140px;
    margin-bottom: 1rem;
    padding-left: 0.5rem;

    @include breakpoint(small) {
      width: 160px;
    }

    @include breakpoint(medium) {
      margin-bottom: 2rem;
    }
  }

  .grid {
    @include breakpoint(medium) {
      display: grid;
      grid-template-columns: 2fr repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "address phone nav1 nav2 social"
        "address mail nav1 nav2 social"
        "address . nav1 nav2 .";
      column-gap: 4rem;
      row-gap: 1rem;
      justify-items: baseline;
      align-items: start;

      .address {
        grid-area: address;
      }
      .phone {
        grid-area: phone;
      }
      .email {
        grid-area: mail;
      }
      .nav1 {
        grid-area: nav1;
      }
      .nav2 {
        grid-area: nav2;
      }
      .socialMedia {
        grid-area: social;
      }
    }

    .contact {
      width: 100%;
      display: flex;
      margin-top: 1rem;
      align-items: center;

      @include breakpoint(medium) {
        margin-top: 0;
      }

      img {
        height: 18px;
        width: 18px;
      }
      p {
        padding-left: 1rem;
        font-size: 0.8rem;
        text-align: left;
      }
    }

    .address {
      img {
        align-self: start;
        position: relative;
        top: 6px;
      }

      .email {
        margin-bottom: 4rem;
      }
    }

    ul {
      margin-top: 3rem;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9rem;
      text-align: left;
      list-style: none;

      @include breakpoint(medium) {
        margin-top: 0;
      }

      li {
        margin-bottom: 1rem;
        @include hovertext(none);
      }
    }

    .socialMedia {
      width: 200px;
      margin: 0 auto;
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include breakpoint(medium) {
        margin-top: 0;
        width: 100%;
        margin: unset;
      }

      .svg {
        @include hoverSvg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border: 1px solid $white;
        border-radius: 50%;

        svg {
          width: 50%;
          height: 50%;

          path {
            fill: $white;
          }
        }
      }
    }
  }
}
